/SlnImc/BlazorImc/bin/Debug/
SlnImc/BlazorImc/obj/Debug
/SlnImc/BlazorImc/obj/
/SlnImc/BlazorImc/obj/Debug/
/SlnImc/BlazorImc/obj/Debug/
/SlnImc/.vs/SlnImc/FileContentIndex/
/SlnImc/BlazorImc/bin/Debug/